@{
    ViewBag.Title = "Index";
}
<div class="card">
    <div class="card-body">
        <h2>Personas</h2>
        @Html.ActionLink("Listar personas", "Listar", "Persona", new { @class = "btn btn-secondary" })
    </div>
</div>